.field-name-sharethis-vcount .stButton .stBubble {
	height: 38px;
	background-position: center 32px;
	background-image: url(../images/bubble_arrow_below.png);
}

.field-name-sharethis-vcount .stButton .stBubble_count {
	height: 26px;
	padding-top: 5px;
}

